<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Company Name</mat-card-title>
      <mat-card-subtitle>Rental Car</mat-card-subtitle>
      <div class="img-container">
        <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      </div>
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title>Personal Information</mat-card-title>
    <mat-card-subtitle>Rental Car</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="customer-info">
      <form>
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Birthday</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <mat-icon matSuffix>phone</mat-icon>
          <input matInput>
          <mat-hint>Include area code</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <mat-icon matSuffix>location_on</mat-icon>
          <input matInput>
          <mat-hint>Include area code</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>C.I.N / Passport</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Second Driver</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Delivery Information</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="example-form-field">
              <mat-label>Choose a date</mat-label>
              <input [matDatepicker]="datepicker" matInput>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle [for]="datepicker" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button color="primary" mat-raised-button matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-form-field">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="rangePicker">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle [for]="rangePicker" matIconSuffix></mat-datepicker-toggle>
              <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                  <button mat-button matDateRangePickerCancel>Cancel</button>
                  <button color="primary" mat-raised-button matDateRangePickerApply>Apply</button>
                </mat-date-range-picker-actions>
              </mat-date-range-picker>
            </mat-form-field>

          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </mat-card-content>

</mat-card>
<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title>Vehicle Information</mat-card-title>
    <mat-card-subtitle>Rental Car</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Vehicle</mat-label>
        <mat-select>
          <mat-option value="1">Dacia Logan</mat-option>
          <mat-option value="2">Renault Clio</mat-option>
          <mat-option value="3">Dacia Sandero</mat-option>
          <mat-option value="4">Range Rover</mat-option>
          <mat-option value="5">Mercedes</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Registration</mat-label>
        <!--        when we select Vehicle, Registration should be filled automatically-->
        <input matInput>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

