<ng-container>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Company</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="rentForm">
        <ng-container formGroupName="personalInfo">
          <h1>Personal Info</h1>
          <mat-form-field>
            <mat-label for="prenom">Prenom</mat-label>
            <input formControlName="prenom" id="prenom" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="nom">Nom</mat-label>
            <input formControlName="nom" id="nom" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="dateNaissance">Date de Naissance</mat-label>
            <input formControlName="dateNaissance" id="dateNaissance" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="cin">C.I.N</mat-label>
            <input formControlName="cin" id="cin" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="address">Address</mat-label>
            <input formControlName="address" id="address" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="phone">Phone</mat-label>
            <input formControlName="phone" id="phone" matInput>
          </mat-form-field>
        </ng-container>
        <ng-container formGroupName="secondDriver">
          <h1>Second Driver</h1>
          <mat-form-field>
            <mat-label>Prenom</mat-label>
            <input formControlName="prenom" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nom</mat-label>
            <input formControlName="nom" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Date de Naissance</mat-label>
            <input formControlName="dateNaissance" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>C.I.N</mat-label>
            <input formControlName="cin" matInput>
          </mat-form-field>
        </ng-container>
        <ng-container formGroupName="carInfo">
          <h1>Car Info</h1>
          <mat-form-field>
            <mat-label for="marque">Marque</mat-label>
            <input formControlName="marque" id="marque" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="immatriculation">Immatriculation</mat-label>
            <input formControlName="immatriculation" id="immatriculation" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="modele">Modele</mat-label>
            <input formControlName="modele" id="modele" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="entryDate">Date d'entree</mat-label>
            <input formControlName="entryDate" id="entryDate" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="exitDate">Date de Sortie</mat-label>
            <input formControlName="exitDate" id="exitDate" matInput>
          </mat-form-field>
        </ng-container>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <button (click)="submitForm()" color="primary" mat-raised-button>Submit</button>
      <button color="warn" mat-raised-button>Cancel</button>
    </mat-card-footer>
  </mat-card>
</ng-container>
