<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title>Add Car</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="carForm">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Model</mat-label>
        <input formControlName="model" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Registration</mat-label>
        <input formControlName="registration" matInput>
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-footer>
    <button (click)="addCar()" color="accent" mat-raised-button>Add</button>
    <button color="warn" mat-raised-button>cancel</button>
  </mat-card-footer>
</mat-card>
