<mat-grid-list *ngIf="(cars$|async) as cars" cols="3" rowHeight="1:1">
  <mat-grid-tile *ngFor="let car of cars">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{car.name}}</mat-card-title>
        <mat-card-subtitle>{{car.price}}</mat-card-subtitle>
      </mat-card-header>
      <img [alt]="car.name" [src]="car.image" mat-card-image>
      <mat-card-content>
        <p>
          {{car.modele}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="updateCar()" color="primary" mat-raised-button>Update</button>
        <button (click)="deleteCar()" color="warn" mat-raised-button>Delete</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>


